<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>MarkTexting</title>

  <style>
    .mybutton {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
    }
  </style>

  <link rel="stylesheet" href="../../static/css/style.css" media="screen" type="text/css"/>
  <script src='../../static/js/jquery.js'></script>
  <script src='../../static/js/jquery.min.js'></script>
  <script src="../../static/js/jquery.ui.position.js" type="text/javascript"></script>
  <script src="../../static/js/jquery.contextMenu.js" type="text/javascript"></script>
  <link href="../../static/css/jquery.contextMenu.css" rel="stylesheet" type="text/css"/>
  <script src='../../static/js/cb_entitylist.js'></script>
</head>

<body>

  <span class='bckg'></span>
<header>
  <h1>
    Dashboard
  </h1>
  <nav id="mymenu">
    <ul>
      <li>
        <a target="_top" href="/index" data-title='Text'>Text</a>
      </li>
      <li>
        <a target="_top" href="/mgraph" data-title='Graph'>Graph</a>
      </li>
      <li>
        <a data-title='Entity' id="entity">Entity</a>
      </li>
        <ul id = "submene"></ul>
      <li>
        <a data-title='Import'>Import</a>
      </li>
      <li>
        <a data-title='Export'>Export</a>
      </li>
      <li>
        <a data-title='Invite'>Invite</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div class='title'>
    <h2>Text</h2>
    <a href='/user/info' title='UserCenter' id='mytitle'></a>
  </div>
  <article class='larg'>
    <div>
      <h3>
        引导
        <span class='entypo-down-open'>👇</span>
      </h3>
      <p>你可以在这里直接粘贴文本，并进行标记工作</p>
      <p>对于比较长的文本，你也可以通过<a href="#">Import</a>功能来导入文本格式文件</p>
      <!-- Import页面开发中 -->
    </div>
    <div>
      <span style="float: left;">
        <!-- 上传文本的表单 -->
        <!-- <form action="" method="GET" style="float: left;" id="addText">
          <h3>
            在这里粘贴你想要标记的文本:
          </h3>
          <textarea name="user_text" cols="40" rows="60"></textarea><br>
          <button type="button" class="mybutton" value="上传文本" id="submitText">上传文本</button> 
        </form> -->
        <div class="context-menu-one">

        测试阶段暂时使用内嵌在html内的文字</br>
        因为最后也得从后端获取文本</br>
        左边的alpha阶段的东西先留着，方便测试用</br>
        美化的话，我看官方没给几个阳间特效，</br>
        我在网上找找吧。</br>
        使用方法：</br>
        鼠标拖拽划词后右击，</br>
        “添加实体”就是添加实体...</br>
        “作为实体1”和“作为实体2”就是作为添加关系的实体1和2...</br>
        选完应该会在下面有显示</br>
        关系类型自己在下面选</br>
        也可以通过下面的“添加关系”自定义关系类型</br>
        选词的时候尽量不要跨行（指带"\n"或"br"标签的非自动换行）</br>
        这段文本就是用"br"标签换行的</br>
        还没弄明白怎么去换行符或标签</br>
      </div>
      </span>
      <span>
        <!-- 添加实体的表单 -->
        <form action="" method="GET" style="float: right;" id="addEntity">
          <h3>
            添加实体
          </h3>
          <table width="400">
            <tr>
              <td>
                <label for="entity_name" >填入你要添加的实体名称</label>
              </td>
              <td>
                <input type="text" id="entity_name" name="entity_name" placeholder="实体名称"/>
              </td>
            </tr>
          </table>
          <button type="button" class="mybutton" value="添加实体" id="submitEntity" onclick="entitySubmit()">添加实体</button>
        </form>
          
        <!-- 添加关系的表单 -->
        <form action="" method="GET" style="float: right;" id="addRelation">
          <h3>
            添加关系
          </h3>
          <table width="400">
            <tr>
              <td>
                <label for="relation_names">选择你要添加的关系种类</label>
              </td>
              <td>
                <select id="relation_name" name="relation_name">
                  <option value="从属" id="1">从属</option>
                  <option value="并列" id="2">并列</option>
                  <option value="解释" id="3">解释</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                选择该关系的两个实体名称
              </td>
              <td>
                <select id="source_id" name="source_name"></select>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <select id="destination_id" name="destination_name"></select>
              </td>
            </tr>
          </table>
          <button type="button" class="mybutton" value="添加关系" id="submitRelation" onclick="sendRelation()">添加关系</button>
        </form>
      </span>
    </div>

    
    <div style="text-align:center;clear:both;"></div>

    <div id="div1">实体1：</div>
    <div id="div2">E1</div>
    <div id="div3">实体2：</div>
    <div id="div4">E2</div>
    <div id="div5">
      <button type="button" onclick="">添加关系</button>
    </div>
    
    <div id="div6">添加的实体：（已经添加进去了）</div>
    <div id="div7">E</div>

    <!-- <div id="myDiv"><h2>使用 AJAX 修改该文本内容</h2></div>
    <button type="button" onclick="loadXMLDoc()">修改内容</button> -->
  </article>
</main>

  <script src="../../static/js/index.js"></script>

</body>

<script type="text/javascript">
//   window.onload = function() {
//     getEntities();
//     getUserInfo();
//   }
//   // p.s.需要用户上传文档的接口...
//   //function sendText() {}
//   function entitySubmit() {
//     sendEntity();
//     location.reload();
//     //getEntities();
//   }
//   function sendEntity() {
//       var name = $("#entity_name").val();
//       $.ajax({
//           type:"POST",
//           url:"/api/project/entities",
//           contentType: "application/json",
//           async:false,
//           dataType:"json",
//           data:JSON.stringify({
//               "action":"add_entity",
//               "data":{
//                   "name":name
//               }
//           }),
//           success:function (data) {
//             if (data.ret != 0) {
//               alert("提示：" + data.msg);
//             }
//         },
//       })
//   }
//   function getEntities() {
//       //更新添加关系的两个实体下拉栏
//       $.ajax({
//         type:"GET",
//         url:"/api/project/entities",
//         async:false,
//         dataType:"json",
//         data:JSON.stringify({
//           "action":"list_entity"
//         }),
//         success: function (data) {
//           var srcEntity = document.getElementById("source_id");
//           var dstEntity = document.getElementById("destination_id");
//           for (var i = 0; i <= data.retlist.length - 1; i ++) {
//             var opt1 = new Option(data.retlist[i].name, data.retlist[i].id);
//             var opt2 = new Option(data.retlist[i].name, data.retlist[i].id);
//             if (!isItemExist(srcEntity, opt1)) {
//               srcEntity.add(opt1);
//             }
//             if (!isItemExist(dstEntity, opt2)) {
//               dstEntity.add(opt2);
//             }
//           }
//         },
//         //由于该函数是在页面加载时就被调用，所以用来判断是否登录，如果未登录，把用户送走
//         error: function(data) {
//           var json = JSON.parse(data.responseText);
//           alert(json.msg);
//           if (json.ret == 302) {
//             window.location.href = json.redirect;
//           }
//         }
//       })
//   }
//   function isItemExist(objSelect,objItemValue) {
//     var isExit = false;
//     for(var i=0;i<objSelect.length;i++)
//     {
//       if ((objSelect.options[i].text == objItemValue.text) && (objSelect.options[i].value == objItemValue.value))
//       {
//         isExit = true;
//           break;
//       }
//     }     
//     return isExit;
//   }
//   function sendRelation() {
//     var source_id = $("#source_id").val();
//     var destination_id = $("#destination_id").val();
//     var relation_name = $("#relation_name").val();
//     // 上述将添加关系的form信息转化为json字符串jsonRelation

//     // html页面内调试用
//     // $("#show2").html(JSON.stringify(jsonRelation));
//     $.ajax({
//         type:"POST",
//         url:"/api/project/relations",
//         contentType: "application/json",
//         dataType:"json",
//         async:false,
//         data:JSON.stringify({
//             "action":"add_relation",
//             "data":{
//                 "name":relation_name,
//                 "source_id":source_id,
//                 "target_id":destination_id
//             }
//         }),
//         success:function (data) {
//           console.log(data);
//           if (data.ret != 0) {
//               alert("提示：" + data.msg);
//           }
//         },
//         error:function (data) {
//           console.log(data);
//         }
//     })
//     location.reload();
//   }
//   function getUserInfo() {
//     $.ajax({
//       type:"GET",
//       url:"/user/other",
//       contentType: "application/json",
//       async:false,
//       success: function (data) {
//         if (data.ret == 0) {
//           console.log(data);
//           $('#mytitle').html(data.user_name);
//         } else {
//           console.log(data);
//         }
//       },
//     })
//   }

//以上为alpha阶段添加方式，测试阶段暂时保留，以便判断正确性
//以下为beta阶段添加方式

var rg = window.getSelection();
var e1, e2, e;
$(function(){
    $.contextMenu({
        selector: '.context-menu-one',
        // callback: function(key, options) {
        //     var m = "clicked: " + key + "\n" + rg.toString();
        //     window.console && console.log(m) || alert(m);
        // },
        items: {
            "relation":{name: "添加关系：", disabled: true},
            "entity1": {name: "作为实体1", callback: function(key, options){
                document.getElementById("div2").innerText=rg.toString();
                e1 = rg.toString();
            }},
            "entity2": {name: "作为实体2", callback: function(key, options){
                document.getElementById("div4").innerText=rg.toString();
                e2 = rg.toString();
            }},
            "sep1": "---------",
            "添加实体": {name: "添加实体", callback: function(key, options){
                document.getElementById("div7").innerText=rg.toString();
                e = rg.toString();
            }}
        }
    });
    $('.context-menu-one').on('click', function(e){
        console.log('clicked', this);
    })
});
</script>
</html>
