<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>MarkTexting</title>

  <style>
    .mybutton {
      background-color: #008CBA; /* Blue */
      border: none;
      color: white;
      padding: 8px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
      top: 30px;
      margin: 6px;
    }

    .mybutton:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .mytext::-webkit-scrollbar {/*滚动条整体样式*/
        width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
    }
    .mytext::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: #008CBA;
    }
    .mytext::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: #EDEDED;
    }
  </style>


<style type="text/css">
  .divofEntity{
    width: 100px;
    height: 25px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #008CBA;
  }
  </style>

  <link rel="stylesheet" href="../../static/css/style.css" media="screen" type="text/css"/>
  <script src='../../static/js/jquery.js'></script>
  <script src='../../static/js/jquery.min.js'></script>
  <script src="../../static/js/jquery.ui.position.js" type="text/javascript"></script>
  <script src="../../static/js/jquery.contextMenu.js" type="text/javascript"></script>
  <link href="../../static/css/jquery.contextMenu.css" rel="stylesheet" type="text/css"/>
  <script src='../../static/js/cb_entitylist.js'></script>
</head>

<body>

  <span class='bckg'></span>
<header>
  <h1>
    Dashboard
  </h1>
  <nav id="mymenu">
    <ul>
      <li>
        <a target="_top" href="/index" data-title='Text'>Text</a>
      </li>
      <li>
        <a target="_top" href="/mgraph" data-title='Graph'>Graph</a>
      </li>
      <li>
        <a data-title='Entity' id="entity">Entity</a>
      </li>
        <ul id = "submene"></ul>
      <li>
        <a data-title='Import'>Import</a>
      </li>
      <li>
        <a data-title='Export'>Export</a>
      </li>
      <li>
        <a data-title='Invite'>Invite</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div class='title'>
    <h2>Text</h2>
    <a href='/user/info' title='UserCenter' id='mytitle'></a>
  </div>
  <article class='larg'>
    <div>
      <h3>
        引导
        <span class='entypo-down-open'>👇</span>
      </h3>
      <p>通过Import功能来导入文本并在这里开始标记</p>
      <!-- Import页面开发中 -->
    </div>
    <div>
      <span style="float: left; width: 650px;" >
        <!-- 上传文本的表单 -->
        <!-- <form action="" method="GET" style="float: left;" id="addText">
          <h3>
            在这里粘贴你想要标记的文本:
          </h3>
          <textarea name="user_text" cols="40" rows="60"></textarea><br>
          <button type="button" class="mybutton" value="上传文本" id="submitText">上传文本</button> 
        </form> -->
        <div class="context-menu-one mytext" style="float: left; width: 650px; height: 450px; overFlow-y:scroll; border-radius: 8px; border: 2px solid #008CBA;">

          &emsp;在射频识别系统中,数据的载体是应答器,通过识别附在要识别物体上的应答器来完成对被识别物体的识别.</br>&emsp;
          射频识别技术的分类,一般是指对应答器的分类. 根据应答器的供电形式,射频识别系统可分为有源系统和无源系统.
          有源应答器使用应答器内电池的能量,因此,识别距离较长,可达几十米甚至上百米;但是它的寿命短、成本高,而且由于自身带有电池,因此它的体积比较大,无法制成像信用卡一样的薄片.
          无源应答器不含有电池,它利用耦合的读写器发射的电磁场能量作为自己的能量,质量轻、体积小、成本低,但它的距离受限制,一般为几厘米至几十米.</br>&emsp;
          根据应答器的数据调制方式,射频识别系统分为主动式和被动式.一般而言,无源应答器是被动式,有源应答器为主动式.
          主动式射频识别系统用自身的射频能量主动地发送数据给读写器,调制方式为调幅、调频或调相;
          被动式射频识别射频识别系统使用调制散射方式发射数据,它必须利用读写器的载波来调制自己的信号.</br>&emsp;
          在有障碍物的情况下,被动式系统中的读写器的能量必须来回穿过障碍物两次,而主动式射频识别系统中读写器和应答器的能量各自穿过障碍物一次.
          主动式射频识别系统识别距离较远,而被动式射频识别系统识别距离较近.</br>&emsp;
    
          文本不够,Ctrl+C/V来凑</br>&emsp;
    
          在射频识别系统中,数据的载体是应答器,通过识别附在要识别物体上的应答器来完成对被识别物体的识别.</br>&emsp;
          射频识别技术的分类,一般是指对应答器的分类. 根据应答器的供电形式,射频识别系统可分为有源系统和无源系统.
          有源应答器使用应答器内电池的能量,因此,识别距离较长,可达几十米甚至上百米;但是它的寿命短、成本高,而且由于自身带有电池,因此它的体积比较大,无法制成像信用卡一样的薄片.
          无源应答器不含有电池,它利用耦合的读写器发射的电磁场能量作为自己的能量,质量轻、体积小、成本低,但它的距离受限制,一般为几厘米至几十米.</br>&emsp;
          根据应答器的数据调制方式,射频识别系统分为主动式和被动式.一般而言,无源应答器是被动式,有源应答器为主动式.
          主动式射频识别系统用自身的射频能量主动地发送数据给读写器,调制方式为调幅、调频或调相;
          被动式射频识别射频识别系统使用调制散射方式发射数据,它必须利用读写器的载波来调制自己的信号.</br>&emsp;
          在有障碍物的情况下,被动式系统中的读写器的能量必须来回穿过障碍物两次,而主动式射频识别系统中读写器和应答器的能量各自穿过障碍物一次.
          主动式射频识别系统识别距离较远,而被动式射频识别系统识别距离较近.
        
      </div>
      </span>
      <span style="float: right; width: 220px">
        <!-- 添加实体的表单 -->
        <!-- <form action="" method="GET" style="float: right;" id="addEntity">
          <h3>
            添加实体
          </h3>
          <table width="400">
            <tr>
              <td>
                <label for="entity_name" >填入你要添加的实体名称</label>
              </td>
              <td>
                <input type="text" id="entity_name" name="entity_name" placeholder="实体名称"/>
              </td>
            </tr>
          </table>
          <button type="button" class="mybutton" value="添加实体" id="submitEntity" onclick="entitySubmit()">添加实体</button>
        </form> -->
          
        <!-- 添加关系的表单 -->
        <!-- <form action="" method="GET" style="float: right;" id="addRelation">
          <h3>
            添加关系
          </h3>
          <table width="400">
            <tr>
              <td>
                <label for="relation_names">选择你要添加的关系种类</label>
              </td>
              <td>
                <select id="relation_name" name="relation_name">
                  <option value="从属" id="1">从属</option>
                  <option value="并列" id="2">并列</option>
                  <option value="解释" id="3">解释</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                选择该关系的两个实体名称
              </td>
              <td>
                <select id="source_id" name="source_name"></select>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <select id="destination_id" name="destination_name"></select>
              </td>
            </tr>
          </table>
          <button type="button" class="mybutton" value="添加关系" id="submitRelation" onclick="sendRelation()">添加关系</button>
        </form> -->
        <table style="float: right; width: 200px;">
          <tr>
            <div id="div2" style="width: 100px; height: auto; font-size: 16px; border-radius: 8px; border: 2px solid #008CBA;">实体1</div>
          </tr>
          <tr>
            <div id="div4" style="width: 100px; height: auto; font-size: 16px; border-radius: 8px; border: 2px solid #008CBA;">实体2</div>
          </tr>
          <tr>
            <select id="relation_type" name="relation_type" style="width: 150px; height: 35px; border-radius: 8px;">
              <option value="---" disabled="disabled" selected>选择关系类型</option>
            </select>
          </tr>
          <tr>
            <button type="button" class="mybutton" style="float: center;" onclick="sendRelationBeta()">添加关系</button>
          </tr>
        </table>
      </span>
    </div>

    <div id="div9" style=" float: left; background-color:rgba(0,0,0,0); border: 0px;">
      <input type="text" id="new_relation_type" name="new_relation_type" style=" float: left; width: 250px; height: 35px; border-radius: 8px; border: 2px solid #008CBA;">
      &emsp;
      <button type="button" class="mybutton" onclick="sendNewRelationBeta()">添加关系类型</button>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <button type="button" class="mybutton" onclick="">保存文本</button>
    </div>

    <!-- <div id="div1">实体1：</div>
    <div id="div2">E1</div>
    <div id="div3">实体2：</div>
    <div id="div4">E2</div>
    <div>关系类型：</div>
    <div id="div8">
      <select id="relation_type" name="relation_type"></select>
    </div>
    <div id="div5">
      <button type="button" onclick="sendRelationBeta()">添加关系</button>
    </div>

    <div id="div9">
      <input type="text" id="new_relation_type" name="new_relation_type">
    </div>
    <div id="div10">
      <button type="button" onclick="sendNewRelationBeta()">添加自定义关系类型</button>
    </div> -->

    <!-- <div id="myDiv"><h2>使用 AJAX 修改该文本内容</h2></div>
    <button type="button" onclick="loadXMLDoc()">修改内容</button> -->
  </article>
</main>

  <script src="../../static/js/index.js"></script>

</body>

<script type="text/javascript">
  window.onload = function() {
    //getEntities();
    getRelationsBeta();
    getUserInfo();
  }
  // p.s.需要用户上传文档的接口...
  //function sendText() {}
//   function entitySubmit() {
//     sendEntity();
//     location.reload();
//     //getEntities();
//   }
//   function sendEntity() {
//       var name = $("#entity_name").val();
//       $.ajax({
//           type:"POST",
//           url:"/api/project/entities",
//           contentType: "application/json",
//           async:false,
//           dataType:"json",
//           data:JSON.stringify({
//               "action":"add_entity",
//               "data":{
//                   "name":name
//               }
//           }),
//           success:function (data) {
//             if (data.ret != 0) {
//               alert("提示：" + data.msg);
//             }
//         },
//       })
//   }
//   function getEntities() {
//       //更新添加关系的两个实体下拉栏
//       $.ajax({
//         type:"GET",
//         url:"/api/project/entities?action=list_entity",
//         async:false,
//         success: function (data) {
//           var srcEntity = document.getElementById("source_id");
//           var dstEntity = document.getElementById("destination_id");
//           for (var i = 0; i <= data.retlist.length - 1; i ++) {
//             var opt1 = new Option(data.retlist[i].name, data.retlist[i].id);
//             var opt2 = new Option(data.retlist[i].name, data.retlist[i].id);
//             if (!isItemExist(srcEntity, opt1)) {
//               srcEntity.add(opt1);
//             }
//             if (!isItemExist(dstEntity, opt2)) {
//               dstEntity.add(opt2);
//             }
//           }
//         },
//         //由于该函数是在页面加载时就被调用，所以用来判断是否登录，如果未登录，把用户送走
//         error: function(data) {
//           var json = JSON.parse(data.responseText);
//           alert(json.msg);
//           if (json.ret == 302) {
//             window.location.href = json.redirect;
//           }
//         }
//       })
//   }
//   function isItemExist(objSelect,objItemValue) {
//     var isExit = false;
//     for(var i=0;i<objSelect.length;i++)
//     {
//       if ((objSelect.options[i].text == objItemValue.text) && (objSelect.options[i].value == objItemValue.value))
//       {
//         isExit = true;
//           break;
//       }
//     }     
//     return isExit;
//   }
//   function sendRelation() {
//     var source_id = $("#source_id").val();
//     var destination_id = $("#destination_id").val();
//     var relation_name = $("#relation_name").val();
//     // 上述将添加关系的form信息转化为json字符串jsonRelation

//     // html页面内调试用
//     // $("#show2").html(JSON.stringify(jsonRelation));
//     $.ajax({
//         type:"POST",
//         url:"/api/project/relations",
//         contentType: "application/json",
//         dataType:"json",
//         async:false,
//         data:JSON.stringify({
//             "action":"add_relation",
//             "data":{
//                 "name":relation_name,
//                 "source_id":source_id,
//                 "target_id":destination_id
//             }
//         }),
//         success:function (data) {
//           console.log(data);
//           if (data.ret != 0) {
//               alert("提示：" + data.msg);
//           }
//         },
//         error:function (data) {
//           console.log(data);
//         }
//     })
//     location.reload();
//   }
//   function getUserInfo() {
//     $.ajax({
//       type:"GET",
//       url:"/user/other",
//       contentType: "application/json",
//       success: function (data) {
//         if (data.ret == 0) {
//           console.log(data);
//           $('#mytitle').html(data.user_name);
//         } else {
//           console.log(data);

//         }
//       },
//     })
//   }

//以上为alpha阶段添加方式，测试阶段暂时保留，以便判断正确性
//以下为beta阶段添加方式

var rg = window.getSelection(); //获取鼠标选中的区域
var e1, e2, e;//e1,添加关系的实体1;e2,添加关系的实体2;e,添加的实体
$(function(){
    $.contextMenu({
        selector: '.context-menu-one',
        // callback: function(key, options) {
        //     var m = "clicked: " + key + "\n" + rg.toString();
        //     window.console && console.log(m) || alert(m);
        // },
        items: {
            "relation":{name: "添加关系：", disabled: true},
            "entity1": {name: "作为实体1", callback: function(key, options){
                document.getElementById("div2").innerText=rg.toString();
                e1 = rg.toString();
            }},
            "entity2": {name: "作为实体2", callback: function(key, options){
                document.getElementById("div4").innerText=rg.toString();
                e2 = rg.toString();
            }},
            "sep1": "---------",
            "添加实体": {name: "添加实体", callback: function(key, options){
                e = rg.toString();
                sendEntityBeta();
                location.reload();
            }}
        }
    });
    $('.context-menu-one').on('click', function(e){
        console.log('clicked', this);
    })
});
function sendEntityBeta() {//添加实体
  $.ajax({
          type:"POST",
          url:"/api/project/entities",
          contentType: "application/json",
          async:false,
          dataType:"json",
          data:JSON.stringify({
              "action":"add_entity",
              "data":{
                  "name":e
              }
          }),
          success:function (data) {
              alert("添加实体成功");
          }
      })
  location.reload();
}

function sendNewRelationBeta() {//添加自定义关系类型
  var name = $("#new_relation_type").val();
      $.ajax({
          type:"POST",
          url:"/api/project/relations",
          contentType: "application/json",
          async:false,
          dataType:"json",
          data:JSON.stringify({
              "action":"add_type",
              "data":{
                  "name":name
              }
          }),
          success:function (data) {
              alert("添加自定义关系成功");
          },
          error:function (data) {
              console.log(data);
          }
      })
      location.reload();
}

function sendRelationBeta() {//添加关系
  var src_id, dst_id;
  var relation = $("#relation_type").val();
  $.ajax({
          type:"POST",
          url:"/api/project/entities",
          contentType: "application/json",
          async:false,
          dataType:"json",
          data:JSON.stringify({
              "action":"add_entity",
              "data":{
                  "name":e1
              }
          }),
          success:function (data) {
            if (data.ret == 0) {
              src_id = data.id;
            } else {
              $.ajax({
                type:"GET",
                url:"/api/project/entities?action=list_entity&name="+e1,
                contentType: "application/json",
                async:false,
                success:function (data) {
                  if (data.ret == 0) {
                    src_id = data.retlist[0].id;
                  }
                }
              })
            }
          }
      })

      $.ajax({
          type:"POST",
          url:"/api/project/entities",
          contentType: "application/json",
          async:false,
          dataType:"json",
          data:JSON.stringify({
              "action":"add_entity",
              "data":{
                  "name":e2
              }
          }),
          success:function (data) {
            if (data.ret == 0) {
              dst_id = data.id;
            } else {
              $.ajax({
                type:"GET",
                url:"/api/project/entities?action=list_entity&name="+e2,
                contentType: "application/json",
                async:false,
                success:function (data) {
                  if (data.ret == 0) {
                    dst_id = data.retlist[0].id;
                  }
                }
              })
            }
          }
      })

      $.ajax({
          type:"POST",
          url:"/api/project/relations",
          contentType: "application/json",
          async:false,
          dataType:"json",
          data:JSON.stringify({
              "action":"add_relation",
              "data":{
                  "name":relation,
                  "source_id":src_id,
                  "target_id":dst_id
              }
          }),
          success:function (data) {
            if (data.ret != 0) {
              alert("提示：" + data.msg);
            }
        },
      })
}

function getRelationsBeta() {
  $.ajax({
        type:"GET",
        url:"/api/project/relations?action=list_type",
        async:false,
        success: function (data) {
          var relationtypes = document.getElementById("relation_type");
          for (var i = 0; i <= data.retlist.length - 1; i ++) {
            var opt = new Option(data.retlist[i].name, data.retlist[i].id);
            if (!isItemExist(relationtypes, opt)) {
              relationtypes.add(opt);
            }
          }
        }
      })
}
</script>
</html>
