<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>MarkTexting</title>
  <script src='../../static/js/jquery.js'></script>
  <script src='../../static/js/cb_entitylist.js'></script>
  <link rel="stylesheet" href="../../static/css/style.css" media="screen" type="text/css" />

</head>

<body>

  <span class='bckg'></span>
<header>
  <h1>
    Dashboard
  </h1>
  <nav id="mymenu">
    <ul>
      <li>
        <a target="_top" href="/index" data-title='Text'><img style="margin-bottom: -5px;margin-right: 20px;width: 24px;height: 24px;" src="../../static/images/text.png"/>Text</a>
      </li>
      <li>
        <a target="_top" href="/mgraph" data-title='Graph'><img style="margin-bottom: -5px;margin-right: 20px;width: 24px;height: 24px;" src="../../static/images/graph.png"/>Graph</a>
      </li>
      <li>
        <a data-title='Relation' id="entity"><img style="margin-bottom: -5px;margin-right: 20px;width: 24px;height: 24px;" src="../../static/images/relation.png"/>Relation</a>
      </li>
        <ul id = "submene"></ul>
      <li>
        <a data-title='Import' href="/import"><img style="margin-bottom: -5px;margin-right: 20px;width: 24px;height: 24px;" src="../../static/images/import.png"/>Import</a>
      </li>
      <li>
        <a data-title='Export' href="#" onclick="exportJson()"><img style="margin-bottom: -5px;margin-right: 20px;width: 24px;height: 24px;" src="../../static/images/export.png"/>Export</a>
      </li>
      <li>
        <a data-title='Invite' href="/invite" target="_top"><img style="margin-bottom: -5px;margin-right: 20px;width: 24px;height: 24px;" src="../../static/images/invite.png"/>Invite</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div class='title'>
    <h2>Projects</h2>
    <a href='#' title='Profil'>
      Hello Bob !
    </a>
  </div>
  <article class='larg'>
    <div>
      <h4>
        Welcome User xxx !
        
      </h4>
    </div>
    
	<div style="text-align:center;clear:both;">

</div>
  </article>
</main>



</body>

</html>