<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>MarkTexting</title>

  <style>
    .larg a {
      color: #000000;
      width: fit-content;
      height: fit-content;
      margin: 10px 80px;
      display: inline;
      line-height: fit-content;
      text-decoration: none;
      formansition: all .5s;}
  </style>
  <link rel="stylesheet" href="../../static/css/style.css" media="screen" type="text/css" />

</head>

<body>

  <span class='bckg'></span>
<header>
  <h1>
    Dashboard
  </h1>
  <nav>
    <ul>
      <li>
        <a target="_top" href="/index" data-title='Text'>Text</a>
      </li>
      <li>
        <a target="_top" href="/mgraph" data-title='Graph'>Graph</a>
      </li>
      <li>
        <a data-title='Entity'>Entity</a>
      </li>
      <li>
        <a data-title='Import'>Import</a>
      </li>
      <li>
        <a data-title='Export'>Export</a>
      </li>
      <li>
        <a data-title='Invite'>Invite</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div class='title'>
    <h2>User Center</h2>
    <a href='/user/info' title='UserCenter' id='mytitle'></a>
  </div>
  <article class='larg'>
    
    <img style="float:left;" src="../../static/images/user_head.png" class="img_avatar" height="200" width="200"><br>
    <h3 id="Mytitle">    </h3>
    <div>
      <button class="button2" onclick="sendLogout()" style="width: 200px;">
        登出
      </button>
      <button class="button2 disabled" onclick="sendChangepasword()" style="width: 200px;">
        修改密码
      </button>
      <button class="button2 disabled" onclick="sendChangename()" style="width: 200px;">
        修改昵称
      </button>
      <button class="button2" onclick="createProject()" style="width: 200px;">
        新建项目
      </button>
    </div></br></br></br></br></br>
    <div style="text-align:center" id="pros">
    </div>
   
  <div style="text-align:center;clear:both;">

  </div>
  </article>
</main>

  <script src='../../static/js/jquery.js'></script>
  <script src="../../static/js/index.js"></script>
  <script type="text/javascript">
  window.onload = function() {
    getUserInfo();
    getProInfo();
    Reload();
  }
  function sendLogout() {
    $.ajax({
        type: "PUT",
        url: "/user/other/",
        contentType: "application/json",
        dataType: "json",
        data:JSON.stringify({
          "action":"logout",
        }),
        success: function (data) {
            if(data.ret == 0) {
                alert("注销成功");
                window.location.href = "/user/index";
            } else {
                alert(data.msg);
            }
        },
        error : function() {
            alert("异常！");
        }
    });
  }
  function sendChangename() {
    alert("这个功能还没完成！");

    var newID = $("#?").val();
    $.ajax({
        type: "POST",
        url: "/user/change_pasword",
        contentType: "application/json",
        dataType: "json",
        data:JSON.stringify({
              "action":"change_name",
              "user_name":newID,
          }),
        success: function (data) {
            console.log(data);
            if(data.ret == 0) {
                alert("修改成功");
            } else {
                alert(data.msg);
            }
        },
        error : function() {
            alert("异常！");
        }
    })
  }
  function sendChangepasword() {
    alert("这个功能还没完成！");
    
    var newPassword = $("#?").val();
    $.ajax({
        type: "POST",
        url: "/user",
        contentType: "application/x-www-form-urlencoded",
        dataType: "json",
        data: "new_password="+newPassword,
        success: function (data) {
            console.log(data);
            if(data.ret == 0) {
                alert("修改成功");
            } else {
                alert(data.msg);
            }
        },
        error : function() {
            alert("异常！");
        }
    })
  }
  function createProject() {
    var name=prompt("请输入任务名称","新建项目1");
    if (name!=null && name!=""){
      console.log(name);
      $.ajax({
        type: "POST",
        url: "/user/projects/",
        dataType: "json",
        data: JSON.stringify({
          "action":"add_project",
          "data": {"name": name}
        }),
        success: function (data) {
            console.log(data);
            if(data.ret == 0) {
                alert("项目创建成功");
                location.reload();
            } else {
                alert(data.msg);
            }
        },
        error : function() {
            alert("异常！");
        }
      })
      
    }
  }
    function getProInfo() {
    $.ajax({
      type:"POST",
      url:"/api/project/pro_session",
      contentType: "application/json",
      data: JSON.stringify({
        "project_id": 1
      }),
      success: function (data) {
        if (data.ret == 0) {
          console.log(data);

        } else {
          console.log(data);
        }
      },
    })
  }
  $(document).on("click",".button1",function(){
    var status = confirm("打开项目?");
    if (!status) {return false;}
    console.log($(this)[0].id);
    $.ajax({
    type:"POST",
    url:"/api/project/pro_session",
    contentType: "application/json",
    dataType:"json",
    async:false,
    data:JSON.stringify({
      "project_id": $(this)[0].id
    }),
    success:function (data) {
        //console.log((data));
    },
    error:function (data) {
        console.log("error");
    },
    complete: function (data) {
        console.log("complete");
    },
    });
    window.location.href = "/index";
  });
  function getUserInfo() {
    $.ajax({
      type:"GET",
      url:"/user/other",
      contentType: "application/json",
      success: function (data) {
        if (data.ret == 0) {
          console.log(data);
          $('#mytitle').html(data.user_name);
          $('#Mytitle').html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + data.user_name);
        } else {
          console.log(data);
        }
      },
    })
  }

  function Reload() {
    $.ajax({
        type:"GET",
        url:"/api/project/entities?action=list_entity",
        success: function (data) {},
        error: function(data) {
          var json = JSON.parse(data.responseText);
          alert(json.msg);
          if (json.ret == 302) {
            window.location.href = json.redirect;
          }
        }
      })
  }
  </script>
  <script type="text/javascript">
    $(document).ready(function()
    {
      var name = $("#entity_name").val();
      $.ajax({
        type:"GET",
        url:"/user/projects?action=list_project",
        success:function (data) {
            console.log((data));
            for (var i = data.retlist.length - 1; i >= 0; i--) {
              $("#pros").append($("<button class=\"button1\" id = \"" + data.retlist[i].id + "\">" + (data.retlist[i].name) + "</button>"));
            }
        },
        error:function (data) {
            //console.log("error");
        },
        complete: function (data) {
            //console.log("complete");
        },
      });

    });
  </script>
  <style type="text/css">
  .h1{
    width: 100%;
  }
  .button1 {
    background-color: #555555; color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    height: 200px;
  }
  .button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .button2 {
    background-color: #555555; color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 32%;
    border-radius: 12px;
  }
  .button2 {
    float: left;
  }
  .disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  .button2:hover {
    background-color: #3e8e41;
  }
  .h1
  {
    clear:both;
  }
  </style>
</body>

</html>