<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>MarkTexting</title>

  <style>
    .mybutton {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
    }
  </style>

  <link rel="stylesheet" href="../../static/css/style.css" media="screen" type="text/css" />
  <script src='../../static/js/jquery.js'></script>
  <script src='../../static/js/cb_entitylist.js'></script>
</head>

<body>

  <span class='bckg'></span>
<header>
  <h1>
    Dashboard
  </h1>
  <nav id="mymenu">
    <ul>
      <li>
        <a target="_top" href="/index" data-title='Text'>Text</a>
      </li>
      <li>
        <a target="_top" href="/mgraph" data-title='Graph'>Graph</a>
      </li>
      <li>
        <a data-title='Entity'>Entity</a>
      </li>
        <ul id = "submene"></ul>
      <li>
        <a data-title='Import'>Import</a>
      </li>
      <li>
        <a data-title='Export'>Export</a>
      </li>
      <li>
        <a data-title='Invite'>Invite</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div class='title'>
    <h2>Text</h2>
    <a href='#' title='Profil'>
      Hello Bob !
    </a>
  </div>
  <article class='larg'>
    <div>
      <h3>
        引导
        <span class='entypo-down-open'>v</span>
      </h3>
      <p>你可以在这里直接粘贴文本，并进行标记工作</p>
      <p>对于比较长的文本，你也可以通过<a href="#">Import</a>功能来导入文本格式文件</p>
      <!-- Import页面开发中 -->
    </div>
    <div>
      <span>
        <!-- 上传文本的表单 -->
        <form action="" method="GET" style="float: left;" id="addText">
          <h3>
            在这里粘贴你想要标记的文本:
          </h3>
          <textarea name="user_text" cols="40" rows="30"></textarea><br>
          <button type="button" class="mybutton" value="上传文本" id="submitText">上传文本</button> 
        </form>
      </span>
      <span>
        <!-- 添加实体的表单 -->
        <form action="" method="GET" style="float: right;" id="addEntity">
          <h3>
            添加实体
          </h3>
          <table width="400">
            <tr>
              <td>
                <label for="entity_name" >填入你要添加的实体名称</label>
              </td>
              <td>
                <input type="text" id="entity_name" name="entity_name" placeholder="实体名称"/>
              </td>
            </tr>
          </table>
          <button type="button" class="mybutton" value="添加实体" id="submitEntity" onclick="sendEntity()">添加实体</button>
        </form>
          
        <!-- 添加关系的表单 -->
        <form action="" method="GET" style="float: right;" id="addRelation">
          <h3>
            添加关系
          </h3>
          <table width="400">
            <tr>
              <td>
                <label for="relation_names">选择你要添加的关系种类</label>
              </td>
              <td>
                <select id="relation_name" name="relation_name">
                  <option value="从属" id="1">从属</option>
                  <option value="并列" id="2">并列</option>
                  <option value="解释" id="3">解释</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                选择该关系的两个实体名称
              </td>
              <td>
                <select id="source_id" name="source_id"></select>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <select id="destination_id" name="destination_id"></select>
              </td>
            </tr>
          </table>
          <button type="button" class="mybutton" value="添加关系" id="submitRelation" onclick="sendRelation()">添加关系</button>
        </form>
      </span>
    </div>

    
	  <div style="text-align:center;clear:both;"></div>

    <!-- <div id="myDiv"><h2>使用 AJAX 修改该文本内容</h2></div>
    <button type="button" onclick="loadXMLDoc()">修改内容</button> -->
  </article>
</main>

  <script src="../../static/js/index.js"></script>

</body>
<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
<script type="text/javascript">
  // 添加提交事件监听器
  // getElementById的参数为form的id
  // addEventListener的参数分别为form中submit的id和监听到事件后跳转的function
  
  // p.s.需要用户上传文档的接口...

  //function sendText() {}
  function sendEntity() {
      var name = $("#entity_name").val();
      $.ajax({
          type:"POST",
          url:"/api/entities",
          contentType: "application/json",
          dataType:"json",
          data:JSON.stringify({
              "action":"add_entity",
              "data":{
                  "name":name
              }
          }),
          success: function (data) {
              alert("success");
          },
          error: function (data) {
              // alert("error");
          },
          complete: function (data) {
              // alert("complete");
          },
      })


      //更新添加关系的两个实体下拉栏
      $.ajax({
        type:"GET",
        url:"/api/entities?action=list_entity",
        success: function (data) {
          console.log(data);
          var srcEntity = document.getElementById("source_id");
          var dstEntity = document.getElementById("destination_id");
          for (var i = 0; i <= data.retlist.length - 1; i ++) {
            var opt1 = new Option(data.retlist[i].name, data.retlist[i].id);
            var opt2 = new Option(data.retlist[i].name, data.retlist[i].id);
            srcEntity.add(opt1);
            dstEntity.add(opt2);
          }
        }
      })
  }

  function sendRelation() {
    var source_id = $("#source_id").val();
    var destination_id = $("#destination_id").val();
    var relation_name = $("#relation_name option:selected").attr("id");
    // 上述将添加关系的form信息转化为json字符串jsonRelation

    // html页面内调试用
    // $("#show2").html(JSON.stringify(jsonRelation));
    $.ajax({
        type:"POST",
        url:"/api/relations",
        contentType: "application/json",
        dataType:"json",
        data:JSON.stringify({
            "action":"add_relation",
            "data":{
                "name":relation_name,
                "sourceid":source_id,
                "destinationid":destination_id
            }
        }),
        success:function (data) {
          alert("success");
        },
    })
  }

  function transformToJson(formData){
        var obj={}
        for (var i in formData) {
            //下标为的i的name做为json对象的key，下标为的i的value做为json对象的value
            obj[formData[i].name]=formData[i]['value'];
        }
        return obj;
    }
</script>
</html>
