<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>MarkTexting</title>

  <style>
  .mybutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
</style>

  <link rel="stylesheet" href="../../static/css/style.css" media="screen" type="text/css" />
  <script src='../../static/js/jquery.js'></script>
</head>

<body>

  <span class='bckg'></span>
<header>
  <h1>
    Dashboard
  </h1>
  <nav>
    <ul>
      <li>
        <a target="_top" href="/index" data-title='Text'>Text</a>
      </li>
      <li>
        <a target="_top" href="/mgraph" data-title='Graph'>Graph</a>
      </li>
      <li>
        <a data-title='Entity'>Entity</a>
      </li>
      <li>
        <a data-title='Import'>Import</a>
      </li>
      <li>
        <a data-title='Export'>Export</a>
      </li>
      <li>
        <a data-title='Invite'>Invite</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div class='title'>
    <h2>Text</h2>
    <a href='#' title='Profil'>
      Hello Bob !
    </a>
  </div>
  <article class='larg'>
    <div>
      <h3>
        引导
        <span class='entypo-down-open'>v</span>
      </h3>
      <p>你可以在这里直接粘贴文本，并进行标记工作</p>
      <p>对于比较长的文本，你也可以通过<a href="#">Import</a>功能来导入文本格式文件</p>
      <!-- Import页面开发中 -->
    </div>
    <div>
      <span>
        <!-- 上传文本的表单 -->
        <form action="" method="GET" style="float: left;" id="addText">
          <h3>
            在这里粘贴你想要标记的文本:
          </h3>
          <textarea name="user_text" cols="50" rows="40"></textarea><br>
          <button type="button" onclick="sendText()" class="mybutton">上传文本(开发中)</button>
        </form>
      </span>
      <span>
          <!-- 添加实体的表单 -->
          <form action="" method="GET" style="float: right;" id="addEntity">
            <!-- 可能出现403问题
              {% csrf_token %} -->
            <h3>
              添加实体
            </h3>
            <table width="300">
            <tr>
              <td>
                <label for="ename">实体名称：</label>
              </td>
              <td>
                <input type="text" id="ename" name="name" placeholder="实体名称"/>
              </td>
            </tr>
          </table>
          <button type="button" onclick="sendEntity()" class="mybutton">添加实体</button>
          </form>
          
          <!-- 添加关系的表单 -->
          <form action="" method="GET" style="float: right;" id="addRelation">
            <h3>
              添加关系
            </h3>
            <table width="300">
            <tr>
              <td>
                <label for="rname">关系种类：</label>
              </td>
              <td>
                <select id="rname" name="name">
                  <option value="从属">从属</option>
                  <option value="并列">并列</option>
                  <option value="解释">解释</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                实体名称：
              </td>
              <td>
                <input type="text" id="ename1" name="sourceid" placeholder="实体1名称"/>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <input type="text" id="ename2" name="destinationid" placeholder="实体2名称"/>
              </td>
            </tr>
          </table>
          <button type="button" onclick="sendRelation()" class="mybutton">添加关系(修改中)</button>
          </form>
      </span>
    </div>
	<div style="text-align:center;clear:both;">

</div>

  <!-- <div id="myDiv"><h2>使用 AJAX 修改该文本内容</h2></div>
  <button type="button" onclick="loadXMLDoc()">修改内容</button> -->

  </article>
</main>
<script>
  function loadXMLDoc() {
    var xmlhttp;
    if (window.XMLHttpRequest) {
      xmlhttp=new XMLHttpRequest();
    } else {
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange = function() {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
      }
    }
    xmlhttp.open("POST","http://127.0.0.1:8000/api/entities",true);
    var data = {
      "action":"add_entity",
      "data":{
          "name": "实体1"
      }};
    console.log(data);
    xmlhttp.send(JSON.stringify(data));
  }
</script>
  <script src="../../static/js/index.js"></script>
</body>

<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
<script type="text/javascript">
  // function sendText() {}

  function sendEntity() {
    var xmlhttp;
    if (window.XMLHttpRequest) {
      xmlhttp=new XMLHttpRequest();
    } else {
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange = function() {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        // document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
        alert("添加实体成功");
      }
    }
    xmlhttp.open("POST","http://127.0.0.1:8000/api/entities",true);
    var addEntity =$("#addEntity");
    var addEntityData = addEntity.serializeArray();
    var jsonEntityData = transformToJson(addEntityData);
    var jsonEntity = {"action":"add_entity"};
    jsonEntity.data = jsonEntityData;


    console.log(jsonEntity);
    xmlhttp.send(JSON.stringify(jsonEntity));
  }

  // function sendRelation() {}

/* 奇妙的ajax就先放一放，用xmlhttp
  // 添加提交事件监听器
  // getElementById的参数为form的id
  // addEventListener的参数分别为form中submit的id和监听到事件后跳转的function
  
  // p.s.需要用户上传文档的接口...
  // document.getElementById('addText').addEventListener('submitText', sendText);
  document.getElementById('addEntity').addEventListener('submitEntity', sendEntity);
  document.getElementById('addRelation').addEventListener('submitRelation', sendRelation);

  //function sendText() {}
  function sendEntity() {
    var addEntity =$("#addEntity");
    var addEntityData = addEntity.serializeArray();
    var jsonEntityData = transformToJson(addEntityData);
    var jsonEntity = {"action":"add_entity"};
    jsonEntity.data = jsonEntityData;
    //上述将添加实体的form信息转化为json字符串jsonEntity

    // html页面内调试用
    // $("#show1").html(JSON.stringify(jsonEntity));
    $.ajax({
        type:"POST",
        url:"http://127.0.0.1:8000/api/entities",
        contentType: "application/json",
        dataType:"json",
        data:JSON.stringify(jsonEntity),
        success:function (jsonEntity) {
          console.log(jsonEntity.statusText);
          alert("asd");
        },
        error:function (data) {
          console.log(jsonEntity.statusText);
          alert("asd");
        },
        complete: function (data) {
          console.log("data.statusText");
          alert("asd");
        },
    })
  }

  function sendRelation() {
    var addRelation =$("#addRelation");
    var addRelationData = addRelation.serializeArray();
    var jsonRelationData = transformToJson(addRelationData);
    var jsonRelation = {"action":"add_relation"};
    jsonRelation.data = jsonRelationData;
    // 上述将添加关系的form信息转化为json字符串jsonRelation

    // html页面内调试用
    // $("#show2").html(JSON.stringify(jsonRelation));
    $.ajax({
        type:"POST",
        url:"/api/relations",
        contentType: "application/json", 
        dataType:"json",
        data:JSON.stringify(jsonRelation),
        success:function (data) {
          // 根据返回信息调试
        }
    })
  }
  */

  function transformToJson(formData){
        var obj={}
        for (var i in formData) {
            //下标为的i的name做为json对象的key，下标为的i的value做为json对象的value
            obj[formData[i].name]=formData[i]['value'];
        }
        return obj;
    }
    
</script>
</html>
