<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>MarkTexting</title>

    <link rel="stylesheet" href="../../static/css/style.css" media="screen" type="text/css" />

</head>

<body>

  <span class='bckg'></span>
<header>
  <h1>
    Dashboard
  </h1>
  <nav>
    <ul>
      <li>
        <a target="_top" href="/index" data-title='Text'>Text</a>
      </li>
      <li>
        <a target="_top" href="/graph" data-title='Graph'>Graph</a>
      </li>
      <li>
        <a data-title='Entity'>Entity</a>
      </li>
      <li>
        <a data-title='Import'>Import</a>
      </li>
      <li>
        <a data-title='Export'>Export</a>
      </li>
      <li>
        <a data-title='Invite'>Invite</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div class='title'>
    <h2>Projects</h2>
    <a href='#' title='Profil'>
      Hello Bob !
    </a>
  </div>
  <article class='larg'>
    <div>
      <h4>
        Welcome User xxx !
        
      </h4>
    </div>
    
	<div style="text-align:center;clear:both;">

</div>
  </article>
</main>

  <script src='../../static/js/jquery.js'></script>

  <script src="../../static/js"></script>

</body>

</html>