<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>Login and Registration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="stylesheet" type="text/css" href="../../static/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="../../static/css/style_login.css" />
        <link rel="stylesheet" type="text/css" href="../../static/css/animate-custom.css" />
        <script src='../../static/js/jquery.js'></script>
        <script src='../../static/js/jquery.form.js'></script>
    </head>
    <body>
        <div class="container">
            <header>
				<nav class="codrops-demos">
					<span>Click <strong>"Join us"</strong> to sign up</span>
				</nav>
            </header>
            <div style="text-align:center;clear:both;">
            </div>
            <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form  action="/user/signin" id="signinform" autocomplete="off" method="POST" enctype="application/x-www-form-urlencoded"> 
                                <h1>Log in</h1> 
                                <p> 
                                    <label for="userid" class="uname" data-icon="u" > Your id, such as email</label>
                                    <input id="userid" name="user_id" required="required" type="text" placeholder="mymail@mail.com"/>
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" /> 
                                </p>
                                <p class="login button"> 
                                    <input type="submit" value="Login" /> 
								</p>
                                <p class="change_link">
									Not a member yet ?
									<a href="#toregister" class="to_register">Join us</a>
								</p>
                            </form>
                        </div>

                        <div id="register" class="animate form">
                            <form  action="/user/register" id="registerform" autocomplete="off" method="POST" enctype="application/x-www-form-urlencoded"> 
                                <h1> Sign up </h1> 
                                <p> 
                                    <label for="emailsignup" class="youmail" data-icon="e" > Your id, such as email</label>
                                    <input id="emailsignup" name="user_id" required="required" type="text" placeholder="mysupermail@mail.com"/> 
                                </p>
                                <p> 
                                    <label for="usernamesignup" class="uname" data-icon="u">Your username</label>
                                    <input id="usernamesignup" name="user_name" required="required" type="text" placeholder="mysuperusername690" />
                                </p>
                                <p> 
                                    <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                                    <input id="passwordsignup" name="password" required="required" type="password" placeholder="eg. X8df!90EO"/>
                                </p>
                                <p> 
                                    <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                                    <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO"/>
                                </p>
                                <p class="signin button"> 
									<input type="submit" value="Sign up"/> 
								</p>
                                <p class="change_link">  
									Already a member ?
									<a href="#tologin" class="to_register"> Go and log in </a>
								</p>
                            </form>
                        </div>
						
                    </div>
                </div>  
            </section>
        </div>
        <script type="text/javascript">           
            $(document).ready(function() { //signinform的提交
                var options = { 
                    //target:        '#output1',   // 用服务器返回的数据 更新 id为output1的内容.
                    //beforeSubmit:  showRequest,  // 提交前
                    success:       showResponseSignIn,  // 提交后 
                    //另外的一些属性: 
                    //url:       url         // 默认是form的action，如果写的话，会覆盖from的action. 
                    //type:      type        // 默认是form的method，如果写的话，会覆盖from的method.('get' or 'post').
                    dataType:  JSON        // 'xml', 'script', or 'json' (接受服务端返回的类型.) 
                    //clearForm: true        // 成功提交后，清除所有的表单元素的值.
                    //resetForm: true        // 成功提交后，重置所有的表单元素的值.
                    //由于某种原因,提交陷入无限等待之中,timeout参数就是用来限制请求的时间,
                    //当请求大于3秒后，跳出请求. 
                    //timeout:   3000 
                }; 
             
                //'ajaxForm' 方式的表单 .
                $('#signinform').ajaxForm(options);  
                //或者 'ajaxSubmit' 方式的提交.
                //$('#myForm').submit(function() { 
                //    $(this).ajaxSubmit(options); 
                //    return false; //来阻止浏览器提交.
                //}); 
            });

            $(document).ready(function() { //registerform的提交
                var options = { 
                    //target:        '#output1',   // 用服务器返回的数据 更新 id为output1的内容.
                    beforeSubmit:  showRequestRegister,  // 提交前 
                    success:       showResponseRegister,  // 提交后 
                    //另外的一些属性: 
                    //url:       url         // 默认是form的action，如果写的话，会覆盖from的action. 
                    //type:      type        // 默认是form的method，如果写的话，会覆盖from的method.('get' or 'post').
                    dataType:  JSON        // 'xml', 'script', or 'json' (接受服务端返回的类型.) 
                    //clearForm: true        // 成功提交后，清除所有的表单元素的值.
                    //resetForm: true        // 成功提交后，重置所有的表单元素的值.
                    //由于某种原因,提交陷入无限等待之中,timeout参数就是用来限制请求的时间,
                    //当请求大于3秒后，跳出请求. 
                    //timeout:   3000 
                }; 
             
                //'ajaxForm' 方式的表单 .
                $('#registerform').ajaxForm(options);  
                //或者 'ajaxSubmit' 方式的提交.
                //$('#myForm').submit(function() { 
                //    $(this).ajaxSubmit(options); 
                //    return false; //来阻止浏览器提交.
                //}); 
            }); 

        //  提交后
        function showResponseSignIn(responseText, statusText)  { 
               alert('状态: ' + statusText + '\n 返回的内容是: \n' + responseText); 
        }

        // 提交前
        function showRequestRegister(formData, jqForm, options) { 
         // formdata是数组对象,在这里，我们使用$.param()方法把他转化为字符串.
        //   var queryString = $.param(formData); //组装数据，插件会自动提交数据
        //   alert(queryString); //类似 ： name=1&add=2  
        var password = $("input[name='password']").val();
        var passwordsignup_confirm = $("input[name='passwordsignup_confirm']").val();
        if (password != passwordsignup_confirm) {
            alert("两次输入密码必须一致");
            return false;
        }
           return true; 
        } 

        //  提交后
        function showResponseRegister(responseText, statusText)  { 
               alert('状态: ' + statusText + '\n 返回的内容是: \n' + responseText); 
        }
</script> 
	</body>
</html>